<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <style>
            .container{
                margin-top:100px;
            }
            #delete {
                margin-top: 5px;
                margin-right: 100px;
                padding: 20px;
                transition-duration: 0.4s;
            }
            
            #delete:hover {
                background-color: green; /* Green */
                color: white;
            }
        </style>
        
        <script>
            function periodicRefresh() {
                var xmlhttp;
                if (window.XMLHttpRequest) {
                    xmlhttp = new XMLHttpRequest();
                }
                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        var tbody = document.getElementById('tbody');
                        tbody.innerHTML = "";
                        var obj = JSON.parse(xmlhttp.responseText);
                        console.log(obj);
                        for (var gf in obj) {
                            var val = obj[gf];
                            console.log(val);
                            for (var c in val) {

                                client = val[c];
                                var row = document.createElement("tr");
                                var td1 = document.createElement("td");
                                var td2 = document.createElement("td");
                                var td3 = document.createElement("td");
                                var td4 = document.createElement("td");
                                var td5 = document.createElement("td");

                                td1.innerHTML = gf;
                                td2.innerHTML = client[0];
                                td3.innerHTML = client[1];
                                td4.innerHTML = client[2];
                                td5.innerHTML = client[3];

                                row.appendChild(td1);
                                row.appendChild(td2);
                                row.appendChild(td3);
                                row.appendChild(td4);
                                row.appendChild(td5);

                                tbody.appendChild(row);

                            }
                        }


                    }
                }
                xmlhttp.open("GET", "http://127.0.0.1:9999/updateDashboard", true);
                xmlhttp.send();
            }
            periodicRefresh();
            setInterval(periodicRefresh, 15000);
        </script>
    </head>
    <body>  
        <div class="container p-3 my-5 bg-default text-white">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Geofence ID</th>
                    <th scope="col">Device ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Distance</th>
                    <th scope="col">Coordinates</th>
                  </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
              </table>
        </div>

        <center><button id="delete"><a href="http://127.0.0.1:9999/createGfence">Back To GMap</a></button></center>
    </body>
</html>