<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <style>
            .container{
                margin-top:100px;
            }
        </style>
        
        <script>
            function processLogin(){
                xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function(){
                    if(xhr.readyState == 4 && xhr.status == 200){
                        alert("reached here");
                        window.location = "http://127.0.0.1:5000/dashboard";
                    }
                }
                var url = "http://127.0.0.1:5000/processLogin";
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                var data = {
                    "client_id": document.getElementById("username").value
                }
                xhr.send(JSON.stringify(data));
            }
        </script>
    </head>
    <body>  
        <div class="container p-3 my-5 bg-success text-white">
            <h2>Basic Client Login</h2>
              <div class="form-group">
                <label for="username">Client ID:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter Client ID" name="username">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
              </div>
              <button type = "submit" class="btn btn-primary" onclick="processLogin()">Submit</button>
          </div>
    </body>
</html>